.feedback {
  min-height: 100vh;
  width: 100%;
  margin-top: 70px;
  background-color: rgb(209, 233, 255);
}
.feedback-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.feedback-form {
  width: 650px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.feedback-title {
  color: #463632;
  width: 100%;
  display: flex;
  justify-content: left;
  padding: 0 10px;
}
.name-email-cont {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 10px;

  margin-top: 10px;
}

.name-input,
.email-input {
  flex: 0.49;
  height: 35px;
  border: 0;
  outline: 0;
  padding: 0 10px;
  background-color: #fff;
}
.message-cont {
  width: 100%;
  padding: 0 10px;
  margin-top: 10px;
}
.message-input {
  padding: 5px 10px;
  width: 100%;
  padding-bottom: 262px;
  resize: none;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: top;
  border: 0;
  outline: 0;
}
.submit-feedback-btn-cont {
  width: 100%;
  display: flex;
  justify-content: left;
  padding: 0 10px;
  margin: 15px 0;
}
.submit-feedback-btn {
  width: 300px;
  background-color: #463632;
  color: rgb(0, 0, 0);
  border: 0;
  outline: 0;
  height: 50px;
  cursor: pointer;
  box-shadow: 0 0 10px 1px #fff;
}
