.single-employee {
  width: 100%;
  min-height: 100vh;
  background-color: aliceblue;
  margin-top: 10px;
}
.single-employee-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.single-left-cont {
  max-width: 500px;
  height: 100vh;
  padding: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.single-left-cont img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  margin-top: 30px;
  box-shadow: 2px 0px 10px 5px #94c4cd;
  border-radius: 20px;
}
.single-center-cont {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px 0;
}
.single-right-cont {
  width: 450px;
  position: relative;
}
.man-icon-cont {
  width: Z00px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.man-icon-cont img {
  width: 100%;
}
.single-employee-name {
  width: 100%;
  display: flex;
  justify-content: left;
  padding-top: 30px;
}
.single-employee-position {
  color: gray;
  margin-bottom: 20px;
}
.single-employee-text {
}
.single-employee-likes {
  margin: 25px 0;
}
.single-employee-like-btn {
  margin: 10px 0;
  border: 0;
  outline: 0;
  background-color: #13263f;
  cursor: pointer;
  width: 120px;
  height: 40px;
  color: #fff;
  font-size: 20px;
}
